# container hostname
hostname=nodehostname

# prometheus_node_exporter HostPort and ContainerPort
host_HostPort=1920
host_ContainerPort=9100

# process_node_exporter HostPort and ContainerPort
process_HostPort=1921
process_ContainerPort=9256

# rabbitmq_node_exporter HostPort and ContainerPort
rabbitmq_HostPort=1922
rabbitmq_ContainerPort=1922

# prometheus_citaMonitorAgent_exporter HostPort and ContainerPort
agent_HostPort=1923
agent_ContainerPort=1920

# CITA node ip and port
node_ip=1.1.1.1
node_Port=1337

# CITA node directory analysis
# Support multiple directories, split by ','
node_dir=/data/cita_secp256k1_sha3/test-chain/0
soft_path=/data/cita_secp256k1_sha3/
