[Unit]
Description=cita Agent Script
After=network.target

[Service]
WorkingDirectory=/opt/cita-agent
ExecStart=/usr/bin/python3 cita-agent.py
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
User=root
Group=root

[Install]
WantedBy=multi-user.target